<nav>
  <div class="site-title">
    <a href="/"><h1>MAHABHARATHA</h1></a>
    <p>CHARACTERS IN MAHABHARATHA</p>
  </div>
  <ul>
    <li><a href="/">CHARACTERS</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New CHARACTER</a></li>
  </ul>
</nav>