<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About MAHABHARATHA</h2>
    <p>The Mahabharata is one of the two major Sanskrit epics of ancient India, the other being the Ramayana. It narrates the struggle between two groups of royal cousins, the Kauravas and the Pandavas, for the throne of Hastinapura. The epic explores themes of duty, righteousness, and the complexities of human nature through its intricate storytelling and rich character development.</p>
    <br>
    <p>Composed over several centuries, the Mahabharata is attributed to the sage Vyasa and is considered one of the longest epic poems in the world. It encompasses a wide range of topics, including philosophy, politics, ethics, and spirituality, making it a significant cultural and religious text in Hinduism.</p>
    <br>
    <p>One of the most renowned sections of the Mahabharata is the Bhagavad Gita, a sacred dialogue between Prince Arjuna and the god Krishna, which addresses profound philosophical and moral questions. The Mahabharata continues to be studied, interpreted, and revered for its timeless wisdom and insights into the human condition.</p>
    <br>
    <p>Overall, the Mahabharata stands as a monumental work of literature that not only reflects the cultural and historical context of ancient India but also offers universal lessons that resonate across time and cultures.</p>
    <br>
    <p>For more information, visit the official Mahabharata website - https://en.wikipedia.org/wiki/Mahabharata</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>